apiVersion: apps/v1
kind: Deployment
metadata:
  name: minio-app
  namespace: minio
  labels:
    app: minio-app-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: minio-app-deployment
  template:
    metadata:
      labels:
        app: minio-app-deployment
    spec:
      containers:
      - name: minio
        image: minio/minio:latest
        args:
        - server
        - /data
        - --console-address
        - ":9001"
        env:
        - name: MINIO_ROOT_USER
          valueFrom:
            secretKeyRef:
              name: minio-creds
              key: username
        - name: MINIO_ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: minio-creds
              key: password
        ports:
        - containerPort: 9000
        - containerPort: 9001